{% extends "layout.html" %}

{% block content %}


<div class="float-container">
    <div class="float-child">
        
        <h4>Navigation Map</h4>

        <b>Map Instructions: </b>

    </p>
    <ul>
        <li>You can zoom in and out by clicking on the +/- button.</li>
        <li>You can click on the markers to display their names/description (e.g., 'theater').</li>
        <li>Reminder: <font color = "green">Green marker = Start point </font> and <font color = "red">Red marker = Goal.</font></li>

    </ul>

        <iframe class="map" , src="/map"></iframe>
    </div>
    <div class="float-child">
        <h4>Navigation Description</h4>
        <p><b>Your task: </b>
            A friend of yours is at the location indicated by the green marker, 
            and you would like to meet your friend at the location marked in red. 
            You need to communicate the meeting location quickly, 
            so you must describe it precisely using only information about the meeting point 
            (e.g. that it is a "bicycle rental") and descriptions of a few significant landmarks that your friend 
            is familiar with (black markers), and that relate your friend's location and the meeting point.
            

        </p>
        <p>
        <b>Task Instructions: </b>  
            <ul>
                <li>Please <b>do not mention more than one street by its name. </b></li>
                <li>Please <b>use for the goal and landmarks the description in the marker</b>  
                    and not the name which appears in the map.</li>
                <li>Please mention at least once the goal based on the description in the red marker.</li>
                
            </ul>
        
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            

            <div class="form-group">

                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

    </div>
</div>


{% endblock content %}