
{% extends "layout.html" %}

 {% block content %}

 <br>


    <div class="float-container">
      <div class="float-child">
           <h3>Navigation Map</h3>


    <iframe class="map", src="/map" ></iframe>
      </div>
  <div class="float-child">
           <h3>Navigation Description</h3>
            <p>Enter a description of the end-position (red) relative to the landmarks (blue, black and white markers), the path (red line) and the start position (green marker). </p>

        <form method="POST" action="">
            {{ form.hidden_tag() }}

                <div class="form-group" >

                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

        </div>
                </div>

<!-- <div class="progress" style="width: 50%; margin: 50px; bottom: 0px; position:absolute;" >-->
<!--        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%" id="prog_{{bar}}">-->
<!--            <span class="progress-bar-label" id="prog_{{bar}}_label">70%</span>-->
<!--        </div>-->
<!--    </div>-->
{% endblock content %}


