<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">-->

<!--    {% if title %}-->
<!--        <title>Navigation Task 🌏- {{ title }}</title>-->
<!--    {% else %}-->
<!--        <title>Navigation Task 🌏</title>-->
<!--    {% endif %}-->
<!--</head>-->
<!--<body>-->
<!-- <h1 style="text-align:center">Navigation Task 🌏</h1>-->
<!-- -->

{% extends "layout.html" %}

 {% block content %}

 <br>


    <div class="float-container">
      <div class="float-child">
           <h3>Navigation Map</h3>


    <iframe class="map", src="/map" ></iframe>
      </div>
  <div class="float-child">
           <h3>Navigation Description</h3>
            <p>Enter a description of the end-position (red) relative to the landmarks (blue, black and white markers), the path (red line) and the start position (green marker). </p>

        <form method="POST" action="">
            {{ form.hidden_tag() }}

                <div class="form-group" >

                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

        </div>
                </div>


{% endblock content %}

<!--    &lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--    &lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->