{% extends "layout.html" %}

{% block content %}

<br>


<div class="float-container">
    <div class="float-child">
        <h3>Navigation Map</h3>


        <iframe class="map" , src="/map"></iframe>
    </div>
    <div class="float-child">
        <h3>Navigation Description</h3>
        <p><b>Your task: </b>
            Instruct a friend from the start point to a goal (marked in red).
            Do this by providing a description of the start position (green marker),
            the path (red line), and the landmarks along the path (marked in black), relative to the goal.
        </p>
        <p>
            <b>Map Instructions: </b>

        </p>
        <ul>
            <li>You can zoom in and out by clicking on the +/- button.</li>
            <li>You can click on the markers to display their names/description (e.g., 'theater').</li>
        </ul>


        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="form-group">

                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

    </div>
</div>


{% endblock content %}


