{% extends "layout.html" %}

{% block content %}


<div class="float-container">
    <div class="float-child">
        <h4>Navigation Map</h4>

        <b>Map Instructions: </b>

        <ul>
            <li>You can zoom in and out by clicking on the +/- button.</li>
            <li>You can press and hold to move on the map.</li>

        </ul>



    <!-- <svg width="200" height="200"
        xmlns="http://www.w3.org/2000/svg">
        <image href={{icon}} height="200" width="200"/>
      </svg> -->
        
<div id="mapid" class=map></div>


    </div>
    <div class="float-child">
        <h4>Navigation Description</h4>
        <p><b>Your task </b>
            is to read the following navigation instructions and pin the goal on the map:
        </p>
        
        <p style="color:blue">{{ nav_instruction }}</p>

        <p>
            

            {% if icon_path %}

            <div>

                <p><b>Hint </b>the goal's icon is most likely: <img src="{{url_for('static', filename='osm_icons/' + icon_path)}}"  />
                </p> 


           </div>
           
            {% endif %}


            


            <b>Task Instructions: </b>
            <ul>
                <li>The <font color = "green">green marker is the start point </font>
                    of the instructions.</li>
                <li>You can click on the map to pin a red marker for the goal.</li>
                <li>You can click on a different place on the map to move the goal.</li>
                <li>Once you finish click on the submit button.</li>
            </ul>
            

        <form method="POST" action="">
            <p><input type = "hidden" name = "latlng" id="latlng" /></p>
            <button type="submit" onclick='this.disabled=true; submit()' class="btn btn-primary" id="submit_button" name="submit_button" value="submit_b"> Submit and go to next task </button>

        </form>    
   

    </div>

</div>

<script type=text/javascript> 
$(function() { $("#submit_button").click(function (event) { $.getJSON('/home', { },
    function(data) { }); return latlng; }); }); </script> 

<script type="text/javascript"> 
    var start_point = {{start_point|tojson}}
    var end_point = {{end_point|tojson}}

    var lat_start = start_point[0]
    var lng_start = start_point[1]

    var lat_end = end_point[0]
    var lng_end = end_point[1]


    var map = L.map('mapid').setView(
        end_point, 
        14,
    )

    
    var map_layer= L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org">OpenStreetMap</a>',
        subdomains: ['a','b','c'],
        maxZoom: 19,

    });

    map_layer.addTo( map )    
    
    var greenIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
        });

    var blackIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-black.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
        });


    var landmark_main = {{landmark_main|tojson}}
    var landmark_around = {{landmark_around|tojson}}
    var landmark_rest = {{landmark_rest|tojson}}

    for (var type in landmark_main) {
        var icon = blackIcon
        L.marker(
            landmark_main[
                type]["point"], {icon: icon}).addTo(map).bindPopup(landmark_main[type]["desc"]);

        };
    
    for (var type in landmark_around) {
        var icon = blackIcon
        L.marker(
            landmark_around[
                type]["point"], {icon: icon}).addTo(map).bindPopup(landmark_around[type]["desc"]);

        };


    for (var type in landmark_rest) {
        if (type=='start_point'){
            var icon = greenIcon
        } else{
            var icon = blackIcon
        }
        L.marker(
            landmark_rest[
                type]["point"], {icon: icon}).addTo(map).bindPopup(landmark_rest[type]["desc"]);

        };

    var markers = new Array();

	function onMapClick(e) {
        if (markers.length > 0) {
              marker = markers.pop()
              map.removeLayer(marker)


        }


        
    
    var redIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
    });
    marker = new L.marker(e.latlng, {draggable:'true', icon: redIcon}).bindPopup('Goal');
    marker.on('dragend', function(event){
        var marker = event.target;
        var position = marker.getLatLng();
        marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
        map.panTo(new L.LatLng(position.lat, position.lng))
        });
    map.addLayer(marker);
    markers.push(marker);

    marker = markers.pop();
    markers.push(marker);
    var coords = marker.getLatLng();
    var lat = coords.lat.toString(10);
    var lng = coords.lng.toString(10);
    var data = JSON.stringify({lat: lat, lng: lng});

    document.getElementById('latlng').value = data

	}


	map.on('click', onMapClick);



</script>




{% endblock content %}