{% extends "layout.html" %}
{% block content %}

<div class="p-5 text-center bg-light">

    <h2 class="mb-3">Finished Tasks!</h4>
    </b>

</div>


<html>
   <body>
      <!-- <form method="POST" action="">
         <p><input type = "text" class="form-control form-control-lg" name = "review" /></p>
         <p><input type = "submit" class="btn btn-primary" value = "Submit review" /></p>
      </form> -->
      <form method="POST" action="">
         {{ form.hidden_tag() }}
         {{ form.csrf_token }}
         

         <div class="form-group">
            <p>If you have a comment about the assignment please leave it here, if not submit an empty review:</p>

             {% if form.content.errors %}
             {{ form.content(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
                 {% for error in form.content.errors %}
                 <span>{{ error }}</span>
                 {% endfor %}
             </div>
             {% else %}
             {{ form.content(class="form-control form-control-lg") }}
             {% endif %}
         </div>
         <div class="form-group">
             {{ form.submit(class="btn btn-outline-info") }}
         </div>
     </form>
   </body>
</html>


{% endblock content %}